<div class="uk-grid-collapse uk-grid-match uk-child-width-1-2@m uk-grid-large uk-text-center" uk-grid>
    <div>
        <div class="uk-flex uk-flex-center">
            <div class="uk-padding uk-margin uk-card uk-card-default" id="log-box">
                <div class="uk-flex-center">
                    <img src="./assets/logoAIB.png" id="logo">
                </div>
                <h3 class="uk-text-muted">Bienvenido nuevamente</h3>
                <form>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-text-primary" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-text-primary" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="text" placeholder="Contraseña">
                        </div>
                    </div>
                    <br>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" uk-tooltip="title: Iniciar Sesión; pos: bottom">Ingresar</button>
                </form>
                <hr class="divider-light">
                <span class="uk-text-muted">¿Aún no tienes cuenta? <a href="">regístrate.</a>
                <br> No puedes ingresar <a href="">cambiar contraseña.</a> </span>
            </div>
        </div>
    </div>
    <div>
        <div id="ilustrar" class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="./assets/ilustrar.png" uk-img="loading: eager">
        </div>
    </div>
</div>
