<div class="uk-background-default uk-padding">
  <h3 class="uk-text-primary">Selecciona el plan perfecto para tus necesidades.</h3>
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-hover uk-card-body">
        <div class="uk-card blue-light">
          <h3 class="uk-text-primary uk-padding-small">AIB Integral</h3>
        </div>
        <div class="uk-card">
          <h3 class="uk-card-title">
            El plan perfecto para comenzar:
          </h3>
        </div>
        <hr class="divider-text">
        <div class="uk-card">
          <ol>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
          </ol>
        </div>
        <hr class="divider">
        <div class="uk-card">
          <a href="#" class="uk-button uk-button-text">Seleccionar</a>
        </div>
        <h4 class="uk-text-success">MXN $100.00 / Mes <br> MXN $100.00 / Año</h4>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-body">
        <div class="uk-card uk-card-primary">
          <h3 class="uk-card-title uk-padding-small">AIB Plus</h3>
        </div>
        <div class="uk-card">
          <h3 class="uk-card-title">
            El plan más seleccionado:
          </h3>
        </div>
        <hr class="divider-text">
        <div class="uk-card">
          <ol>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
          </ol>
        </div>
        <hr class="divider">
        <div class="uk-card">
          <a href="#" class="uk-button uk-button-text">Seleccionar</a>
        </div>
        <h4 class="uk-text-success">MXN $100.00 / Mes <br> MXN $100.00 / Año</h4>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-body">
        <div class="uk-card uk-card-secondary">
          <h3 class="uk-card-title uk-padding-small">AIB Night</h3>
        </div>
        <div class="uk-card">
          <h3 class="uk-card-title">
            Nuestro plan premium:
          </h3>
        </div>
        <hr class="divider-text">
        <div class="uk-card">
          <ol>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
            <li>Beneficio</li>
          </ol>
        </div>
        <hr class="divider">
        <div class="uk-card">
            <a href="#" class="uk-button uk-button-text">Seleccionar</a>
        </div>
        <h4 class="uk-text-success">MXN $100.00 / Mes <br> MXN $100.00 / Año</h4>
      </div>
    </div>
  </div>
  <hr class="divider-light">
</div>

<div class="uk-padding uk-width-1-1">
  <h3 class="uk-text-muted">Podrías tener una página similar a esta.</h3>
  <div class="uk-grid-large uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
    <div class="uk-width-1-5@m">
      <h3 class="uk-card-title">Selecciona Color</h3>
      <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Aquí podrás seleccionar un color de énfasis.  <span uk-icon="arrow-down"></span></p>
      </div>
      <div class="uk-background-default uk-padding-small">
        <div class="uk-flex uk-flex-column paleta">
          <div>
            <div class="uk-align-center circulo red"></div>
          </div>
          <div>
            <div class="uk-align-center circulo green"></div>
          </div>
          <div>
            <div class="uk-align-center circulo blue"></div>
          </div>
          <div>
            <div class="uk-align-center circulo yellow"></div>
          </div>
          <div>
            <div class="uk-align-center circulo pink"></div>
          </div>
          <div>
            <div class="uk-align-center circulo orange"></div>
          </div>
          <div>
            <div class="uk-align-center circulo purple"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-child-width-3-5@m uk-grid-small">
        <div class="uk-width-1-1 uk-margin">
          <button class="uk-button uk-button-primary" uk-tooltip="title: Continuar sin guardar; pos: bottom">Omitir</button> 
          <button class="uk-button uk-button-secondary" uk-tooltip="title: Proponer Prototipo; pos: bottom">Enviar</button>
        </div>
        <div class="uk-width-1-1 ">
          <div class="uk-card uk-card-default plano">
            <div class="uk-card-header plano-header">
                <h3 class="uk-card-title"></h3>
            </div>
            <div class="uk-card plano-body">
              <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-bottom uk-padding" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                  <hr class="divider-text">
                  <hr class="divider-text">
                  <hr class="divider-text">
                </div>
                <div>
                    <div class="uk-card-body uk-background-muted">
                    </div>
                </div>
              </div>
              <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-bottom uk-padding" uk-grid>
                  <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <hr class="divider-text">
                    <hr class="divider-text">
                    <hr class="divider-text">
                  </div>
                  <div>
                      <div class="uk-card-body uk-background-muted">
                      </div>
                  </div>
              </div>
              <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-bottom uk-padding" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                  <hr class="divider-text">
                  <hr class="divider-text">
                  <hr class="divider-text">
                </div>
                <div>
                    <div class="uk-card-body uk-background-muted">
                    </div>
                </div>
              </div>
            </div>
            <div class="uk-card-footer"></div>
          </div>
        </div>
    </div>
    <div class="uk-width-1-5@m">
        <h3 class="uk-card-title">Selecciona Diseño</h3>
        <div class="uk-alert-primary" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p>Aquí podrás seleccionar el template perfecto. <span uk-icon="arrow-down"></span></p>
        </div>
        <div class="uk-background-default uk-padding-small">
          <div class="uk-flex uk-flex-column paleta">
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
            <div>
              <div class="uk-align-center gris cuadro"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
